YAPAYZEKAPROJE/My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2660,
        200
      ],
      "id": "1098e708-4006-4c62-a777-0234129a705d",
      "name": "Telegram Trigger",
      "webhookId": "a5afa383-22b8-46a9-9776-cd4aedbf1cdf",
      "credentials": {
        "telegramApi": {
          "id": "1lXEKH1pw83fH9fZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8255c1-7e27-4d0e-860d-4e1e7072df45",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        180
      ],
      "id": "1d3e9944-952b-40cb-940d-f78b509b7d83",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2200,
        500
      ],
      "id": "3f75dc92-1987-4b7a-8999-e5410ee6c253",
      "name": "Telegram",
      "webhookId": "b9c9919d-e730-4a86-80bf-209ac81a1582",
      "credentials": {
        "telegramApi": {
          "id": "1lXEKH1pw83fH9fZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Sen Axezi Restoran için hizmet veren bir yardımcı asistansın. Sorulan soruların cevaplarını \"Vector Store\" tool kullanarak oradan dönen dataya göre cevaplar vereceksin.\n\nDikkat Etmen Gerekenler\n\n-Her sorguda MUTLAKA \"Vector Store\" sorgu atıp cevabını orada ara\n-Samimi ve dost canlısı şekilde davran\n-Her cevabında en sonda bir tane emoji kullan\n-Vector Store içerisinde olmayan datalar için yanıt verme, \n\"üzgünüm bunu cevaplayamıyorum başka sorunuz var mı? şeklinde yönlendirme yap\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1920,
        180
      ],
      "id": "24319a9d-6bf7-4560-8938-837b536887b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2060,
        340
      ],
      "id": "afba3ce0-f667-44b9-981a-02153c0e5390",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1FKX9x2IQPXXjorl",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1880,
        340
      ],
      "id": "587d54ce-1594-457d-91ef-94047af86943",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "TR0qqh8IYDiuVaeJ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1620,
        420
      ],
      "id": "b73372ed-f9a2-47d8-b47b-d5cd13abbbb4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1FKX9x2IQPXXjorl",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "n8nyz",
        "toolDescription": "Menü , hakkında ve sıkça sorulan sorulan gibi bilgilere sahipsin",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -1620,
        300
      ],
      "id": "297578f8-f4cb-4f68-84ac-790b96201984",
      "name": "Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IDtGuILPBamgS8G4",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1780,
        500
      ],
      "id": "902dca54-75f3-4851-876f-4396e66f1810",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1FKX9x2IQPXXjorl",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.myNewField = 1;\n  item.binary.data.mimeType = 'audio/ogg';\n  item.binary.data.fileExtension = 'ogg';\n}\n\nreturn $input.all();  // Döngü bitince tüm işlenmiş item'ları döndür"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        500
      ],
      "id": "77c38b42-2681-4f6a-ad91-f784fe5b57cb",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {
          "speed": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1180,
        360
      ],
      "id": "a7c2f886-bb12-456b-b90b-9b86771a3e09",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1FKX9x2IQPXXjorl",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "00cab402-8947-4d5a-b621-bf9bef587224"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db262e58-928d-4ec7-bae2-749a9f7842e1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1460,
        180
      ],
      "id": "1215c6b7-6bbf-403f-8de2-749c2d60c33b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "00cab402-8947-4d5a-b621-bf9bef587224"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db262e58-928d-4ec7-bae2-749a9f7842e1",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2440,
        200
      ],
      "id": "c7cc73e2-4019-4aa1-bcf7-e0d974c608d5",
      "name": "Yazi/Ses"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1180,
        160
      ],
      "id": "0421d65d-408a-40c4-9aa3-b2944ac5b356",
      "name": "MetinCevap",
      "webhookId": "84d50567-6788-4da7-8b3e-c3e8d4e1b3c7",
      "credentials": {
        "telegramApi": {
          "id": "1lXEKH1pw83fH9fZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1020,
        360
      ],
      "id": "be1b0540-d199-41fb-96cb-9bf5570a775b",
      "name": "SesCevap",
      "webhookId": "94d02e9a-93d4-4cd3-a08f-5880a5f5f1d0",
      "credentials": {
        "telegramApi": {
          "id": "1lXEKH1pw83fH9fZ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Yazi/Ses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "SesCevap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "MetinCevap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yazi/Ses": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "334bf1ce-6720-45bd-9edc-8187fb9a42b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d10cdf5e37befa6ac638eeeb48e987484cc5c89c5fa9f0550558f6ba90cd92bb"
  },
  "id": "0eqf6FxMB67J4GqH",
  "tags": []
}